.sajat-kepvaltoztatas 
{
    max-height: 900px;
    width: 100%;
}

a
{
    text-decoration: none;
}

.nagy-betus 
{
    text-transform: uppercase;
}

.ole-regular {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}